body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    background-color: hsl(206, 62%, 95%) !important;

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}


/* custom css*/
.MuiTypography-root
{
  color: #5EADC2 !important;
}

.MuiButton-label{
  color: #ffffff !important;
}
